@import "syntax-variables";
atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .line.cursor-line {
        background-color: rgba(175, 66, 66, 0.2);
    }

    .invisible {
        color: @syntax-text-color;
    }

    .cursor {
        border-left: 2px solid @syntax-cursor-color;
        color: @syntax-cursor-color;
    }

    .selection .region {
        background-color: #5c2323;
    }

    .bracket-matcher .region {
        background: lighten(@baseBackground, 7%);
        border-bottom: 2px solid @syntax-color-bracketSelector;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
    }
    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }


    .cursor-line .indent-guide {
        color: lighten(@syntax-indent-guide-color, 10%);
    }
    .indent-guide:first-child {
        color: transparent;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        border-right: 1px solid @syntax-indent-guide-color;
        color: @syntax-gutter-text-color;
        .line-number {
            &.cursor-line {
                background-color: @syntax-gutter-background-color-selected;
                color: @syntax-gutter-text-color-selected;
            }
            &.cursor-line-no-selection {
                color: @syntax-gutter-text-color-selected;
            }
        }
    }
    .gutter .line-number.folded,
    .gutter .line-number:after,
    .fold-marker:after {
        color: lighten(@fadedText, 30%);
    }


}
atom-text-editor .search-results .syntax--marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
}
atom-text-editor .search-results .syntax--marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
    color: @darkText;
    font-style: italic;
}
.syntax--entity {
    &.syntax--name.syntax--type {
        color: @syntax-color-entityType;
        text-decoration: underline;
    }
    &.syntax--other.syntax--inherited-class {
        color: @syntax-color-entityInheritedClass;
    }
    &.syntax--name.syntax--function {
        color: @syntax-color-functionName;
        border-bottom: 1px dashed;
    }
    &.syntax--name.syntax--class,
    &.syntax--name.syntax--type.syntax--class {
        color: @syntax-color-entityClass;
    }
    &.syntax--name.syntax--section {
        color: @syntax-color-entitySection;
    }
    &.syntax--name.syntax--tag {
        color: @syntax-color-tag;

        //border-bottom: 1px solid fadeout(@syntax-color-tag, 70%);
    }
    &.syntax--other.syntax--attribute-name {
        color: @syntax-color-attribute;
        &.syntax--id {
            color: @syntax-color-attributeId;
        }
    }
}
.syntax--keyword {
    color: @syntax-color-keyword;
    &.syntax--phpdoc,
    &.syntax--jsdoc {
        color: @syntax-color-doc;
    }
    &.syntax--control {
        color: @syntax-color-control;
        font-style: italic;
        border-bottom: 1px dotted fadeout(@syntax-color-control, 30%);
    }
    &.syntax--operator {
        color: @syntax-color-operator;
    }
    &.syntax--operator.syntax--new {
        font-style: italic;
        text-decoration: underline;
    }
    &.syntax--other.syntax--special-method {
        color: @syntax-color-keywordSpecialMethod;
    }
    &.syntax--other.syntax--unit {
        color: @syntax-color-constantNumeric;
    }
}
.syntax--storage {
    color: @syntax-color-storage;
    &.syntax--type {
        color: @syntax-color-storageType;
        font-style: italic;
        &.syntax--phpdoc,
        &.syntax--jsdoc {
            color: @syntax-color-doc;
        }
    }
    &.syntax--type.syntax--function {
        color: @syntax-color-function;
        font-style: italic;
    }
    &.syntax--modifier {
        color: @syntax-color-modifier;
        font-style: italic;
        border-bottom: 1px dashed fadeout(@syntax-color-modifier, 70%);
    }
}
.syntax--constant {
    color: @syntax-color-constant;
    &.syntax--numeric {
        color: @syntax-color-constantNumeric;
    }
    &.syntax--boolean,
    &.syntax--null {
        color: @syntax-color-constantBooleanNull;
        font-weight: bold;
    }
    &.syntax--other.syntax--color {
        color: @syntax-color-constantColor;
        .syntax--constant {
            color: @syntax-color-constantColor;
        }
    }
}
.syntax--variable {
    color: @syntax-color-var;
    &.syntax--interpolation {
        color: darken(@syntax-color-var, 10%);
    }
    &.syntax--parameter.syntax--function {
        color: @syntax-color-functionParameter;
        font-style: italic;
        border-bottom: 1px dashed fadeout(@syntax-color-functionParameter, 50%);
    }
}
.syntax--invalid.syntax--illegal {
    font-style: italic;
    color: @syntax-color-invalid;
    border-bottom: 2px solid @syntax-color-invalid;
}
.syntax--string {
    color: @syntax-color-string;
    &.syntax--regexp {
        color: @syntax-color-regex;
        border-bottom: 1px dashed;
    }
    &.syntax--other.syntax--link {
        color: @syntax-color-link;
    }
}
.syntax--punctuation {
    &.syntax--definition {
        &.syntax--comment {
            color: @darkText;
        }
        &.syntax--tag {
            color: @syntax-color-tag;
        }
        &.syntax--string {
            color: @syntax-color-punctuationString;
        }
        &.syntax--variable {
            color: @syntax-color-var;
        }
        &.syntax--parameters,
        &.syntax--array {
            color: @syntax-color-functionName;
        }
        &.syntax--bold {
            font-weight: bold;
        }
        &.syntax--italic {
            font-style: italic;
        }
    }
    &.syntax--terminator {
        color: @syntax-color-string;
    }
    &.syntax--section.syntax--embedded {
        color: @syntax-color-punctuationEmbedded;
        font-style: italic;
    }
}
.syntax--support {
    &.syntax--class,
    &.syntax--namespace {
        color: @syntax-color-class;
    }
    &.syntax--class {
        border-bottom: 1px dotted;
    }
    &.syntax--use-as {
        color: lighten(@syntax-color-class, 10%);
        border-bottom: 1px dashed;
    }
    &.syntax--function {
        color: @syntax-color-functionName;
        border-bottom: 1px dashed;
    }
}
.syntax--meta {
    &.syntax--class {
        color: @syntax-color-class;
    }
    &.syntax--link {
        color: @syntax-color-link;
    }
    &.syntax--function-call {
        color: lighten(@syntax-color-string, 10%);
    }
    &.syntax--selector {
        color: @syntax-color-metaSelector;
    }
    &.syntax--brace {
        color: @syntax-color-brace;
    }
    &.syntax--value > *:not(.syntax--leading-whitespace) {
        color: lighten(@syntax-color-string, 15%);
    }
}
.syntax--none {
    color: @syntax-text-color;
}
.syntax--markup {
    &.syntax--heading {
        color: @syntax-color-markupHeading;
        font-weight: bold;
    }
    &.syntax--bold {
        font-weight: bold;
    }
    &.syntax--italic {
        font-style: italic;
    }
}
.syntax--source.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
}
atom-text-editor[mini] .syntax--scroll-view {
    padding-left: 1px;
}
